.listCurrActive {
  border: 2px solid blue !important;
}
.input-list {
  /* overflow-y: hidden; */
  /* max-height: 200px; */
  background: white;   
  width: 100%;
  position: absolute;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 9;
}
.input-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid grey
}
.input-list > ul:nth-child(1) > li {
  background-color: wheat;
}
.input-list > ul:nth-child(1) > li > div {
  padding: 10px 20px;
  background-color: wheat;
}
.input-list > ul:nth-child(2) {
  max-height: 200px;
  overflow-y: auto;
}

.input-list > ul > li {
  border: 1px solid grey;
}
.input-list > ul > li > div {
  padding: 10px 20px;
}

.nav-link i {
  width: 25px;
}
.sidenav ul .nav-link {
  color: white !important;
}
.nav-item:has(a.disabled) {
  display: none;
}
.ppi-only-div.disabled{
  display: none;
}
.sidenav .nav-item .nav-link.active {
  color: greenyellow !important;
}
a {
  cursor: pointer;
}
#showHTML{
  overflow-y: auto;
}
body {
  height: 100%;
  overflow-y: hidden;
}
html {
  height: -webkit-fill-available;
  overflow-y: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bg-ijo{background: rgba(95, 141, 73, 1) !important; color:white !important}
.text-ijo{color:rgb(95, 141, 73) !important;}
.border-outline-ijo {border-color: rgb(95, 141, 73) !important;}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(95, 141, 73);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(199, 234, 228, 0.9);
  z-index: 9999;
}
::-webkit-scrollbar
    {
      width: 10px;  /* for vertical scrollbars */
      height: 10px; /* for horizontal scrollbars */
    }
    
    ::-webkit-scrollbar-track
    {
      background-color: transparent
    }
    
    ::-webkit-scrollbar-thumb
    { 
      background: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }

@media (max-width: 992px) {
  #navbarSupportedContent {
    width: 100%;
    /* flex-direction: column; */
  }
  #userName{
    display: flex;
    flex-direction: row;
    margin: 30px auto !important;
  }
  #navbarSupportedContent button {
    margin-bottom: 20px;
  }
  #sideNavLg {
    display: none;
  }
  .navbar-brand {
    text-align: center;
    margin: 0;
  }
}
