.resume-title p:nth-child(1){
    color: blue;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-decoration: underline;
    font-weight: bold;
}
.resume-title p:nth-child(2){
    font-size: 0.8rem;
    margin-top: 0;
    /* font-weight: bold; */
}
#resumeTabBtnContainer li .active{
    font-weight: bold;
    color:blue ;
    background-color: rgba(108, 117, 125, 0.2) !important;
    border-bottom-width: 0;
}
#resumeTabBtnContainer li button{
    color: black;
}
.table-resume-hh td, .table-resume-hh th{
    text-align : center;
}

@media (max-width: 992px) {
    #res-hh-canvas-2 {
        width: 900px
        /* color: #6b7914 */
    }
  }

