/* .res-hh-tab-group{
    display: none;
}
.res-hh-tab-moment{
    display: none;
} */
.resume-title p:nth-child(1){
    color: blue;
    font-size: 0.9rem;
    margin-bottom: 0;
    text-decoration: underline;
    font-weight: bold;
}
.resume-title p:nth-child(2){
    font-size: 0.8rem;
    margin-top: 0;
    /* font-weight: bold; */
}
#resumeTabBtnContainer li .active{
    font-weight: bold;
    color:blue ;
    background-color: rgba(108, 117, 125, 0.2) !important;
    border-bottom-width: 0;
}
#resumeTabBtnContainer li button{
    color: black;
}
.table-resume-hh td, .table-resume-hh th, .table-resume-apd td, .table-resume-apd th{
    text-align : center;
}

#res-hh-canvas-3, #res-apd-canvas-3 {
    min-width: 900px
}

@media (max-width: 992px) {
    #res-hh-canvas-2, #res-apd-canvas-2 {
        width: 900px;
        color: #f49191;
    }
  }
  /* div:has(#res-hh-canvas-3){ */
    /* border: 5px solid */
  /* } */
