#sup-unitData-container{position: static; display: flex;}
#sup-listData-container{position: static; display: flex; height: 100%; overflow: hidden;}
/* #sup-listData-container div:nth-child(2){overflow-y: auto !important;} */
#sup-unitData-container.hidden, #sup-listData-btn, #sup-listData-btn.hidden{display: none;}
#sup-listData-container.hidden{display: flex; overflow: hidden;}
#sup-unitData-btn{display: block;}
#sup-unitData-btn.d-none{display: none;}
#sup-listData-btn-close{display: none;}

@media (max-width: 992px){
    #sup-unitData-container{
        position: absolute;
        height: 100%;
        width: 100%;
        transition: width .2s, padding .2s;
    }
    #sup-unitData-container.hidden{
        display: block;
        width: 0px;
        padding: 0 !important;
        overflow: hidden;
    }
    #sup-listData-container{
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: width .2s, padding .2s;
    }
    #sup-listData-container.hidden{
        display: block;
        width: 0px;
        padding: 0 !important;
        overflow: hidden;
    }
    #sup-listData-btn-close{display: block;}
    #sup-unitData-btn{display: block !important;}
    #sup-listData-btn{display: block !important;}
}

.sup-q-bab{
    width: 100%;
    display: flex;
    border: 1px solid rgb(92, 91, 91);
    padding: 10px 20px;
    background-color: rgb(223, 223, 223);
}
.sup-q-bab.active{
    background-color: rgb(28, 28, 28);
    color: white;
}
.sup-q-bab > div:nth-child(1) {
    flex-grow: 1;
    margin-right: 5px
}

.sup-q-bab + .sup-q-bab-box {
    padding: 10px;

}

