#sup-unitData-container{position: static; display: flex;}
#sup-listData-container{position: static; display: flex; height: 100%; overflow: hidden;}
/* #sup-listData-container div:nth-child(2){overflow-y: auto !important;} */
#sup-unitData-container.hidden, #sup-listData-btn, #sup-listData-btn.hidden{display: none;}
#sup-listData-container.hidden{display: flex; overflow: hidden;}
#sup-unitData-btn{display: block;}
#sup-unitData-btn.d-none{display: none;}
#sup-listData-btn-close{display: none;}

@media (max-width: 992px){
    #sup-unitData-container{
        position: absolute;
        height: 100%;
        width: 100%;
        transition: width .2s, padding .2s;
    }
    #sup-unitData-container.hidden{
        display: block;
        width: 0px;
        padding: 0 !important;
        overflow: hidden;
    }
    #sup-listData-container{
        display: flex;
        position: absolute;
        height: 100%;
        width: 100%;
        transition: width .2s, padding .2s;
    }
    #sup-listData-container.hidden{
        display: block;
        width: 0px;
        padding: 0 !important;
        overflow: hidden;
    }
    #sup-listData-btn-close{display: block;}
    #sup-unitData-btn{display: block !important;}
    #sup-listData-btn{display: block !important;}
}

.sup-q-bab, .sup-q-subbab {
    width: 100%;
    display: flex;
    border: 1px solid rgb(92, 91, 91);
    padding: 10px 20px;
}
.sup-q-bab{
    background-color: rgb(147, 147, 147);
    color: white;
}
.sup-q-bab span, .sup-q-subbab span{
    margin-right: 10px;
}
.sup-q-bab.active{
    background-color: rgb(28, 28, 28);
    color: white;
}
.sup-q-subbab{
    background-color: rgb(87, 167, 198);
    color: white;
}
.sup-q-subbab.active{
    background-color: rgb(38, 83, 101);
    color: white;
}
.sup-q-bab > div:nth-child(1), .sup-q-subbab > div:nth-child(1) {
    flex-grow: 1;
    margin-right: 5px
}
.sup-q-bab + .sup-q-bab-box, .sup-q-subbab + .sup-q-subbab-box {
    padding: 0;
    max-height: 0;
    transition: max-height 0.2s, padding 0.2s ;
    overflow: hidden;
    /* transition: height 0.5s; */
    border: 0
}
.sup-q-bab.active + .sup-q-bab-box, .sup-q-subbab.active + .sup-q-subbab-box {
    padding: 0;
    max-height: 1000px;
    border: 1px solid rgb(92, 91, 91);
}
.sup-que-item-box{
    display: flex;
    border-bottom: 1px solid grey;
}
.sup-que-item-text{
    flex-grow: 1;
    padding: 20px 10px;
    overflow-wrap: break-word;
}
.sup-que-item-yes, .sup-que-item-no{
    padding: 10px;
    border-left: 1px solid grey;
}
